@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewBag.User</h1>
    <p></p>
    <h5>What is Agri-Energy Connect</h5>
    <p>Agri-Energy Connect is a visionary initiative which seeks to offer an innovative web platform that bridges the gap between the agricultural sector
         and green energy technology.
    </p>
    <h5>What Agri-Energy Connect offers</h5>
    <p>
        We look to offer a platform where experts and enthusiasts can collaborate, share resourses and innovate the realm of sustainable agriculture and renewable
         energy. At the moment all we offer is a marketplace where farmers are able to sell there product but in the future we plan to have a Farming hub where users
          can share practices and ideas, a Educational and Training function where online courses, webinars and workshops can take place and a Project Collaboration 
           and Funding feature where users can work together on projects or where people can fundraise their own projects.
    </p>
    <h5>How to navigate website</h5>
    <p>
        Users can use the navigation bar at the top to navigate to different features. Farmers will only have access to Products and Profile feature.
    </p>
</div>
